# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Screenshots
Screenshot*.png
**/Screenshot*.png

# Large media files
*.af
*.af~lock~
*.mov
src/assets/me.af
src/assets/me2.af
src/assets/meee.af
src/assets/mendiola-platform/analitycs.mov
